{% extends 'base.html' %} {% block content %}

<div class="container my-5">
    <h3>&nbsp&nbsp&nbspWrite Your Post Here</h3>
    <form action="savePost/" method="post">{% csrf_token %}
  <div class="form-group">
      <input type="text" class="form-control mx-4 my-4" id="name" name="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
      <input type="text" class="form-control mx-4 my-4" id="title" name="title" placeholder="Enter Post Title">
  </div>
  <div class="form-group">
      <textarea class="form-control mx-4 my-4" id="cont" rows="10" name="cont" placeholder="Enter Content"></textarea>
  </div>
   <button style='margin-left:530px;' type="submit" class="btn btn-success">Submit</button>
</form>
</div>

{% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}