{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}



<div class="container">
    <h2 style="margin-top:2%;">Welcome {{ user.get_username}}, Here are your posts</h3>
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
        {% for post in posts %}
        <div class="card mb-4"  style="margin-top:1%;">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.publisher }} | {{ post.created_on}} </p>
                <p class="card-text">{{post.content|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
        {% endfor %}            
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>
{% if posts.has_other_pages %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if posts.has_previous %}
  <li><a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
  {% endif %}
  {% if posts.has_next %}
  <li><a href="?page={{ posts.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
 {% endif %}
</ul>
</nav>
</div>
{% endif %}
</div>
</div>

{% endblock %}