{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About The Blog</h5>
    <div class="card-body">
        <p class="card-text"> This blogging web application is made on the top of the 'Django' Framework, and designing part is done with the help of CSS and Bootstrap</p>
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">About The Developer</h5>
<div class="card-body">
    <p class="card-text"> Himanshu Malik, a young passionate developer is an engineering undergraduate having a good interest in web development and web designing.</p>
</div>
</div>

<div class="card my-4">
        <h5 class="card-header">Contact Me</h5>
    <div class="card-body">
        <p class="card-text"><a href='https://www.linkedin.com/in/himanshu-malik-8b3884192?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BYaQFR78JR%2F%2BCtwrA%2FohMrQ%3D%3D'>Linkedin</a> |
        <a href="https://github.com/the-himanshu">Github</a> </p>
    </div>
    </div>

<div> 
</div>

</div>


{% endblock sidebar %}